/*  default
------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #fff;
}
p{
    color: #5e629c;
    line-height: 26px;
}
h2, h3, h4{
    color: #151948;
}
section{
    padding: 80px 0;
}
.container{
    padding: 0 10%;
}
.section-title{
    font-size: 2.1em;
    margin-bottom: 50px;
    font-weight: 600;
    text-align: center;
}

/*  colors
------------------------------------------*/
:root{
    --primary: #dc2430;
    --secondary: #7b4397;
    --thirdary: #ff704f;
}

/*  header
------------------------------------------*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: linear-gradient(to left, var(--primary), var(--secondary));
}
.header-shadow{
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.top-logo img{
    width: 150px;
}
.header-items{
    display: flex;
}
.header-link{
    margin: 0 15px;
    position: relative;
}
.header-link::after{
    content: '';
    display: block;
    background-color: #fff;
    position: absolute;
    margin-top: 3px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.header-link:hover::after{
    width: 100%;
}
.login{
    background-color: #e78200;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 15px;
    letter-spacing: 1px;
    transition: box-shadow 0.3s ease-in-out;
}
.login:hover{
    box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
}
.btn-toggle{
    display: none;
}

/*  banner
------------------------------------------*/
.banner-area{
    background: linear-gradient(to left, var(--primary), var(--secondary));
    height: 730px;
    transform: skew(0deg, -12deg) translateY(-150px);
}
.banner-row{
    transform: skew(0deg, 12deg);
    padding-top: 330px;
    display: flex;
    justify-content: space-between;
}
.banner-col50{
    width: 50%;
}
.banner-intro{
    padding-top: 80px;
}
.banner-intro h1{
    font-size: 3em;
    margin-bottom: 20px;
    color: #fff;
}
.banner-intro p{
    line-height: 1.5;
    margin-bottom: 50px;
    color: #fff;
}
.btn-intro{
    padding: 10px 20px;
    background-color: #e78200;
}
.banner-img img{
    width: 100%;
}

/*  plans
------------------------------------------*/
.plans-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.pricing-table{
    width: 310px;
    padding: 50px 20px;
    margin: 30px 15px 0;
    border: 1px solid #ccc;
    transition: all .8s ease;
    text-align: center;
}
.pricing-table:hover{
    border-color: var(--thirdary);
    box-shadow: 0 0 25px 0 rgba(95, 95, 95, .24);
}
.pricing-table h3{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 11px;
}
.pricing-table h1 span{
    font-size: 16px;
}
.pricing-table h1{
    color: var(--thirdary);
    font-size: 3.125em;
    font-weight: 500;
}
.details-items{
    line-height: 35px;
    color: #5e629c;
    margin-bottom: 50px;
}
.plan-btn{
    border: 1px solid var(--thirdary);
    color: var(--thirdary);
    background-color: #fff;
    border-radius: 30px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 0.875em;
    transition: box-shadow 0.3s ease-in-out;
}
.plan-btn:hover{
    box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
}
.btn-center{
    background-color: var(--thirdary);
    color: #fff;
}

/*  space host
------------------------------------------*/
.space-host-area{
    background-color: #fff2ef;
    padding: 60px 0;
}
.space-host-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col50{
    width: 48%;
}
.space-host-text{
    margin-top: 20px;
}
.space-host-area .nodejs-img img{
    width: 100%;
}
.space-host-content p:first-child{
    margin-bottom: 10px;
}

/*  feature
------------------------------------------*/
.features-row{
    display: flex;
    flex-wrap: wrap;
}
.feature-item{
    width: 50%;
    display: flex;
    padding: 30px;
    transition: box-shadow 0.3s ease-in-out;
}
.feature-item:hover{
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
}
.feature-item:hover .feature-icon-circle{
    color: #fff;
    background-color: var(--thirdary);
}
.feature-icon-circle{
    margin: 12px 30px 0 0;
    font-size: 40px;
    color: var(--thirdary);
    border: 1px solid var(--thirdary);
    background: #fff2ef;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.feature-info h4{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

/*  support
------------------------------------------*/
.support-area{
    background-color: #fff2ef;
    padding: 60px 0;
}
.support-area p{
    text-align: center;
}
.support-area .red{
    color: var(--primary);
    font-weight: bold;
}
.support-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.support-row img{
    margin: 20px 20px 0;
}

/*  footer
------------------------------------------*/
.footer{
    background-color: #333;
    padding: 50px 0 20px;
}
.footer-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 50px;
}
.footer-list{
    width: 220px;
    margin: 50px 15px 0;
}
.footer-list h5, .footer-list li a, .footer p{
    color: #cdcdcd;
}
.footer-list h5{
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}
.footer-list li a{
    font-size: 0.875em;
    font-weight: 300;
    line-height: 2.5;
}
.footer-list .news-letter{
    display: flex;
    margin-top: 20px;
}
.footer-list .news-letter input{
    width: 100%;
    padding: 6px 12px;
    font-size: 0.875em;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}
.footer-list .news-letter button{
    border: none;
    background-color: var(--thirdary);
    color: #fff;
    border-radius: 0 4px 4px 0;
    padding: 0 20px;
    cursor: pointer;
    outline: none;
}
.footer .copyright p{
    font-size: 0.875em;
    text-align: center;
    margin-top: 20px;
}

/*  large device - desktop
------------------------------------------*/
@media screen and (max-width: 1024px){
    /*  support area
    --------------------------------------*/
    .support-row{
        flex-wrap: wrap;
    }
}

/*  medium device - tablet and desktop
------------------------------------------*/
@media screen and (max-width: 960px){
    /*  header
    --------------------------------------*/
    .header-items{
        position: fixed;
        top: -100%;
        right: 0;
        width: 100%;
        height: 100%;
        padding-top: 50px;
        background: linear-gradient(to left, var(--primary), var(--secondary));
        flex-direction: column;
        align-items: center;
        transition: all 0.3s;
        z-index: -1;
    }
    .header-items li{
        margin-bottom: 20px;
    }
    .open{
        top: 78px;
    }
    .login{
        margin-left: 0;
    }
    .btn-toggle{
        display: block;
    }
    .btn-toggle i{
        color: #fff;
        font-size: 2.3em;
        cursor: pointer;
    }

    /*  banner
    --------------------------------------*/
    .banner-row{
        padding-top: 280px;
    }
    .banner-img{
        display: none;
    }
    .banner-col50{
        width: 100%;
    }

    /*  features
    --------------------------------------*/
    .feature-item{
        width: 100%;
    }
}

/*  small device - tablet
------------------------------------------*/
@media screen and (max-width: 768px){
    /*  default
    --------------------------------------*/
    .container{
        padding: 0 5%;
    }

    /*  space host
    --------------------------------------*/
    .col50{
        width: 100%;
    }
}

/*  small device - mobile
------------------------------------------*/
@media screen and (max-width: 480px){
    /*  banner
    --------------------------------------*/
    .banner-intro h1{
        font-size: 2.5em;
    }
    
    /*  feature
    --------------------------------------*/
    .feature-item{
        padding: 30px 0;
    }
}
